:root {
    --bg-primary: #0b47d1;
    --white-color: #fff;
    --text-primary: #001364;
}

.text-primary {
    color: var(--text-primary);
}

.text-primary-heading {
    color: var(--bg-primary);
}

.bg-primary {
    background-color: var(--bg-primary);
}

.bg-banner-img {
    background-image: url(/img/Mask-Group-1.png);
    background-size: 82%;
    background-position: center;
}

.logo-div {
    height: 36px;
    border-right: 2px solid var(--white-color);
    margin-right: 14px;
    padding-right: 14px;
    display: flex;
    align-items: center;
}

.logo-text {
    font-weight: 500;
    font-size: 18px;
}

.search-section {
    max-width: 600px;
    margin: 0 auto;
}

.search-btn {
    width: auto;
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 10px 50px;
    background-color: var(--bg-primary);
    color: var(--white-color);
    font-weight: 500;
    font-size: 13px;
}

.uk-form-icon:not(.uk-form-icon-flip)~.uk-input {
    padding-left: 58px !important;
}
.uk-form-icon-flip~.uk-input {
    padding-right: 135px;
}

.b-radius-100 {
    border-radius: 100px;
}

.uk-main-input {
    border-radius: 100px;
    background-color: var(--white-color) !important;
    height: 48px !important;
}

.uk-main-input::placeholder {
    font-size: 18px;
    color: #ccc;
}

.input-mini input {
    height: 35px !important;
}

.input-mini input::placeholder {
    font-size: 12px;
    top: 10px;
    position: absolute;
}

.input-mini .uk-form-icon:not(.uk-form-icon-flip)~.uk-input {
    padding-left: 33px !important;
}

.input-mini .uk-form-icon-flip~.uk-input {
    padding-right: 62px!important;
}

.input-mini a {
    padding: 10px 10px;
    font-size: 9px;
}

.uk-accordion li {
    border-top: 1px solid #e1e1e1;
    transition: padding 0.1s;
}

.uk-accordion .uk-open {
    background-color: #f7f7f7;
    padding: 15px;
}

.uk-description-list dd {
    font-size: 12px;
    margin-left: 22px;
}

.uk-accordion>:nth-child(n+1) {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0;
}

.uk-description-list>dt {
    text-transform: unset;
}